$max-width: 40rem;
$body-bg: #c9ada7;
$card-bg: #f2e9e4;
$link-text: #9a8c98;
$link-text-hover: #22223b;
$default-text: #4a4e69;
$bold-text: #22223b;
$shadow: #22223b;
$green: #00b753;
$yellow: #e8b724;
$red: #e20404;

//<resets>
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100vh;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol {
  list-style: none;
}
//</resets>

body {
  font-family: "Open Sans", sans-serif;
  background-color: $body-bg;
  padding: 1rem 3rem;

  @media (max-width: $max-width) {
    padding: 1rem;
  }
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0.5em;
}

h1,
h2 {
  color: $bold-text;
  letter-spacing: 1px;
}

a {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &,
  &:visited {
    color: $link-text;
  }

  &:hover,
  &:focus-visible {
    color: $link-text-hover;
  }
}

p {
  color: $default-text;
}

form {
  max-width: $max-width;
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    min-width: 49%;
    padding: 0.2rem;
    font-size: 1rem;
  }

  button {
    min-width: 49%;
    padding: 0.2rem;
    font-size: 1rem;
  }

  @media (max-width: $max-width) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;

    label {
      margin-bottom: 0;
    }
  }
}

.repo-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
  align-items: start;
  grid-template-rows: masonry;

  @media (max-width: $max-width) {
    grid-template-columns: 1fr;
  }
}

.repo {
  background-color: $card-bg;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 2px 5px transparentize($shadow, 0.7);
}

.draft {
  background-color: $body-bg;
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.pr {
  &:not(:first-child) {
    border-top: 3px solid $default-text;
    padding-top: 1rem;
  }
  &:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.hidden {
  display: none;
}

.loading::after {
  content: ".";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: $body-bg;
    text-shadow: 0.25em 0 0 $body-bg, 0.5em 0 0 $body-bg;
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 $body-bg, 0.5em 0 0 $body-bg;
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 $body-bg;
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}

// Review statuses
.approved {
  color: $green;
}
.changes_requested {
  color: $yellow;
}
.review_required {
  color: $red;
}

// https://kittygiraudel.com/2021/04/05/an-accessible-toggle/
.Toggle {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 1ch;
  margin-bottom: 1rem;
}
.Toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;

  display: inline-flex;
  align-items: center;
  justify-content: space-around;

  width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2);
  box-sizing: content-box;

  border: 0.1em solid rgb(0 0 0 / 0.2);

  position: relative;
  border-radius: 100vw;
  background-color: #fbe4e2;

  transition: 250ms;
  cursor: pointer;

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0ms;
  }
}
.Toggle__display::before {
  content: "";

  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;

  box-sizing: border-box;
  border: 0.1 solid rgb(0 0 0 / 0.2);

  position: absolute;
  z-index: 2;
  top: 50%;
  left: var(--offset);
  transform: translate(0, -50%);

  background-color: #fff;
  transition: inherit;
}
.Toggle__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.Toggle__input:focus + .Toggle__display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
}
.Toggle__input:focus:not(:focus-visible) + .Toggle__display {
  outline: 0;
}
.Toggle__input:checked + .Toggle__display {
  background-color: #e3f5eb;
}
.Toggle__input:checked + .Toggle__display::before {
  transform: translate(100%, -50%);
}
